/* #region Overall */
@font-face {
  font-family: adelphi;
  src: url(fonts/ADELP___.TTF);
}

html,
body {
  font-family: adelphi;
  margin: 0;
  padding: 0;
  height: 100%;
}


canvas {
  display: block;
  pointer-events: none;
}
/* #endregion Overall */

/* #region ScrollText */
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: yellow;
  background-color: dimgray;
}
.scrolling-text {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(350%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* #endregion ScrollText */

.main {
  display: flex;
}

nav {
  z-index: 5;
}

nav iframe {
  height: 99%; /*100% overflows for some reason*/
  z-index: 6;
  /* width: 20vh; */
  background-image: url("images/Nav_Backg.png");
}

.foreground {
  display: flex;
  flex-direction: column;
  width: 90vw;
}
.foreground img {
  width: 100%;
  height: auto;
}
.foreground iframe {
  height: 50vh;
  width: 100%;
}
.foreground p{
  padding-left: 2%;
}
/* Consider making some container types for images, video, text, etc, so you can standardize their display */

/* Be Mindful if you just paset a new sheet in you will need to relink this sheet to unify stylinga*/
/* Table stuff */
/*#region Table*/
table,
table a {
  font-family: "Noto Mono";
  font-size: 10pt;
}
td {
  border: 1px black solid;
  padding: 0.5em;
}
/*#endregion Table*/

/*#region Misc*/
.space{
  background-color: black;
  overflow: hidden;
}

#orbit-container {
  height: 100%;
  overflow: hidden;
}

.orbiter {
  position: absolute;
  top: 20%;
  left: -5%;
  z-index: 1;
  animation: ease-in orbit 10s infinite;
}

@keyframes orbit {
  0% {
    animation-timing-function: ease-in;
  }

  12.5% {
    animation-timing-function: linear;
  }

  25% {
    transform: translate(250%) scale(2);
    animation-timing-function: ease-out;
    z-index: 1;
  }

  37.5% {
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateX(500%);
    z-index: 1;
    animation-timing-function: ease-in;
  }

  50.1% {
    z-index: -1;
  }

  62.5% {
    animation-timing-function: linear;
  }

  75% {
    transform: translate(250%) scale(0.5);
    animation-timing-function: ease-out;
    z-index: -1;
  }

  87.5% {
    animation-timing-function: ease-out;
  }

  100% {
    z-index: -1;
  }
  /*#endregion Misc*/
}
