html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
  pointer-events: none;
}

.foreground{
  position: relative;
  z-index: 1;
  color: black;
  padding: 2rem;
  /* opacity: 0.5; */
}
